body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow:
        0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    gap: 40px;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-navigation-link {
    padding: 24px 0;
}

.header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #2E2F42;
    width: 115px;
    height: 24px;
    margin-right: 76px;
}

.header-navigation-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2E2F42;
    position: relative;
    text-decoration: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-link.current {
    color: #404BBF;
}

.header-navigation-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;

}

.header-navigation-link.current:hover,
.header-navigation-link.current:focus {
    color: #404BBF;
}

.header-navigation-link.current:active {
    color: #404bbf;
}

.header-navigation-link:active {
    color: #4D5AE5;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
    color: #404bbf;
}

.header-address-link {
    font-size: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
    color: #434455;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404BBF;
}

.accent {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    width: 216px;
    margin-top: 0;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.main-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.main-button:hover,
.main-button:focus,
.main-button:active {
    cursor: pointer;
    background-color: #404bbf;
}

.section-main {
    background-color: #2E2F42;
    padding-top: 72px;
    padding-bottom: 72px;
    min-width: 320px;
    margin: 0 auto;
    box-shadow:
        0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    ;
    background-image: linear-gradient(to right,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/hero_image_mob.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media  screen and (min-resolution: 2x), (~webkit-min-device-pixel-ratio: 2) {
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero_image_mob2x.jpg");
    }
}


.section-features-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    padding-top: 96px;
    padding-bottom: 96px;
}

.wrap {
    padding: 32px 16px;
    border-radius: 0 0 4px 4px;
}

.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
}

.icon {
    width: 64px;
    height: 64px;
    fill: #FFFFFF;
}


.section-features-list-item {
    width: 100%;
}

.features-item {
    width: 100%;
}

.section-features-list-item-title {
    margin-bottom: 8px;
    margin-top: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.section-features-list-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #434455;
}

.section-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.section-team-list-item {
    width: 100%;
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-team-list-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-team-list-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.section-team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-team {
    background-color: #F4F4FD;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-team-list-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
}

.section-portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-portfolio {
    border-bottom: 1px mixed #E7E9FC;
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-wrap {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.portfolio-box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
}

.overlay-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.portfolio-box:hover .overlay,
.portfolio-wrap:hover .overlay {
    transform: translateY(0);
}

.section-portfolio-list-item {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 288px;
    height: 400px;
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-portfolio-list-item:hover .overlay {
    transform: translateY(0);
}

.section-portfolio-list {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
}

.section-portfolio-list-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-portfolio-list-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-right: 120px;
}

.footer-logo {
    color: #F4F4FD;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}

.container-footer-social-links {
    display: flex;
    flex-direction: column;
}

.footer-container-main {
    display: flex;
    align-items: baseline;
    
}

.social-links-title {
    color: #FFFFFF;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-media-list {
    display: flex;
    gap: 16px;
}

.social-media-list-team {
    display: flex;
    gap: 24px;
}

.social-media-list-item {
    list-style-type: none;
}

.social-media-link-team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.social-media-link-team:hover,
.social-media-link-team:focus {
    background-color: #404bbf;
}

.social-links {
    fill: #FFFFFF;
}

.section-features-list {
    list-style-type: none;
}

.section-team-list {
    list-style-type: none;
}

.section-portfolio-list {
    list-style-type: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.social-links {
    fill: #f4f4fd;
    stroke: #404BBF;
    display: flex;
    row-gap: 24px;
    flex-wrap: wrap;

}

.social-media-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.social-media-link:hover,
.social-media-link:focus {
    background-color: #31d0aa;
}

.social-links-team {
    fill: #f4f4fd;
    stroke: #404BBF;
    display: flex;
    row-gap: 24px;
    flex-wrap: wrap;
    width: 16px;
    height: 16px;
    transition: fill 250ms ease;

}

.container-footer-social-links {
    display: flex;
    row-gap: 24px;
    column-gap: 16px;
    flex-wrap: wrap;
    margin-right: 80px;
}

.container-team-social-links {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 232px;
    padding-left: 16px;
    padding-right: 16px;
}

.overlay-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow:
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding-top: 72px;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-close {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    color: #fff;
}

.icon-close {
    fill: currentColor;
    stroke: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-textarea {
    margin-bottom: 16px;
}

.modal-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-label {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapper {
    position: relative;
}

.modal-input-icon {
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-input-icon {
    fill: #4d5ae5;
}

.modal-input:hover,
.modal-input:focus {
    border: 1px solid #4d5ae5;
}

.modal-textarea {
    height: 120px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border: 1px solid #4d5ae5;
    outline: none;
}

.modal-textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-check-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.modal-check:checked+.modal-check-label span {
    background-color: #404bbf;
    border-radius: 2px;
    border: 1px solid #404bbf;
    fill: #f4f4fd;
}

a {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-check-label span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-block;
    margin-right: 8px;
    display: flex;
    align-items: center;
    fill: transparent;
}


.modal-check:checked + .modal-check-label .modal-icon-check {
    opacity: 1;
    visibility: visible;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

.modal-icon-check {
    opacity: 0;
    visibility: hidden;
}

.modal-check-span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:active,
.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    cursor: pointer;
}

.subscribe {
    display: flex;
    width: 453px;
    height: 80px;
    row-gap: 24px;

}

.subscribe-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    outline: none;
    background-color: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:hover,
.subscribe-input:focus {
    border: 1px solid #31D0AA;
}

.subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.subscribe-button {
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    border: none;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    fill: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #31d0aa;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    column-gap: 16px;
    margin-left: auto;
}



@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .main-title {
        font-weight: 700;
        line-height: 1.07;
        font-size: 56px;
        width: 496px;
    }
    .section-main {
        padding-top: 112px;
        padding-bottom: 112px;
        min-width: 768px;
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero_image_tab.jpg");
        
        @media screen and (min-resolution: 2x),
            (~webkit-min-device-pixel-ratio: 2) {
            background-image: linear-gradient(to right,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/hero_image_tab2x.jpg");
        }
    }
    .section-features-list-item {
        width: calc((100% - 24px) / 2);
    }
    .section-features-list {
        gap: 72px 24px;
    }
    .section-features-list-item-title {
        text-align: left;
    }
    .section-team-list {
        gap: 64px 24px;
    }
    .section-team-list-item {
        width: calc((100% - 24px) /2);
    }
    .section-team {
        padding-left: 92px;
        padding-right: 92px;
    }
    .section-portfolio-list-item {
        width: 356px;
        height: 420px;
    }
    .section-portfolio-list {
        width: calc((100% - 24px) / 2);
    }
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-title {
        font-weight: 700;
        line-height: 1.07;
        font-size: 56px;
        width: 496px;
    }
    .section-main {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero_image.jpg");

        @media screen and (min-resolution: 2x),
            (~webkit-min-device-pixel-ratio: 2) {
            background-image: linear-gradient(to right,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/hero_image2x.jpg");
        }
    }
    .section-features {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    .features-item {
        width: 264px;
    }
    .features-icon {
        opacity: 1;
        visibility: visible;
    }
    .section-features-list {
        display: flex;
        gap: 24px;
    }
    
    .section-features-list-item {
        width: calc((100% - 72px) /4);
    }
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .section-features-list-item-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
    }
    .section-team-list {
        gap: 24px;
    }
    .section-team-list-item {
        width: calc((100% - 72px) /4);
    }
    
    .section-portfolio-list {
        column-gap: 24px;
        row-gap: 48px;
        width: calc(100%-120) /2;
    }
    .section-portfolio-list-item {
        position: relative;
        overflow: hidden;
        z-index: 1;
        width: 360px;
        height: 420px;
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0s;
    }
    
    .section-portfolio-list-item:hover {
         box-shadow:
            0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
    }

}
